TA1/flows.json
[
    {
        "id": "01813a139083dada",
        "type": "ui_gauge",
        "z": "61cc7ea8e45da469",
        "name": "",
        "group": "3125ee5a8ea0abc1",
        "order": 0,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "3829a395957af2ee",
        "type": "mqtt in",
        "z": "61cc7ea8e45da469",
        "name": "",
        "topic": "humValue",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "01813a139083dada",
                "9c9e0bef520e8ba3"
            ]
        ]
    },
    {
        "id": "d97907d60cc3e3b2",
        "type": "mqtt in",
        "z": "61cc7ea8e45da469",
        "name": "",
        "topic": "tempValue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 180,
        "wires": [
            [
                "9c9e0bef520e8ba3",
                "922b1ce302ed0ad1"
            ]
        ]
    },
    {
        "id": "bb2acf6f12fa62dd",
        "type": "function",
        "z": "61cc7ea8e45da469",
        "name": "AddToArray",
        "func": "var tableData = flow.get(\"savedData\") || []\n\nmsg.payload[\"timeStamp\"] = new Date().toLocaleString()\n\nif(tableData.length>0 )\n{   \n   tableData.unshift( msg.payload)\n}\nelse if(tableData.length==0){\n   tableData.unshift( msg.payload)\n}\n\nmsg.payload = tableData\n\nflow.set(\"savedData\", tableData)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"savedData\", [])",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 200,
        "wires": [
            [
                "733daea2356954a2",
                "1fef760dd88e6581"
            ]
        ]
    },
    {
        "id": "9c9e0bef520e8ba3",
        "type": "join",
        "z": "61cc7ea8e45da469",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "15",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "bb2acf6f12fa62dd",
                "9b341e213eb402af"
            ]
        ]
    },
    {
        "id": "733daea2356954a2",
        "type": "ui_table",
        "z": "61cc7ea8e45da469",
        "group": "d7add96eb24337e9",
        "name": "Data Table",
        "order": 1,
        "width": "20",
        "height": "5",
        "columns": [
            {
                "field": "timeStamp",
                "title": "Time Stamp",
                "width": "30%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "tempValue",
                "title": "Temperature",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "phValue",
                "title": "PH",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "tdsValue",
                "title": "TDS",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "humValue",
                "title": "Humidity",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "1fef760dd88e6581",
        "type": "function",
        "z": "61cc7ea8e45da469",
        "name": "SetUpFirebaseData",
        "func": "var data = []\ndata[\"humValue\"] = msg.payload[0][\"humValue\"]\ndata[\"phValue\"] = msg.payload[0][\"phValue\"]\ndata[\"tempValue\"] = msg.payload[0][\"tempValue\"]\ndata[\"tdsValue\"] = msg.payload[0][\"tdsValue\"]\ndata[\"time\"]=msg.payload[0][\"timeStamp\"]\n\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a35bb1433c24467d",
        "type": "telegram client sender",
        "z": "61cc7ea8e45da469",
        "name": "",
        "bot": "38453e9c236cb604",
        "x": 720,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ed7dcc1ad5b79a2e",
        "type": "mqtt in",
        "z": "61cc7ea8e45da469",
        "name": "",
        "topic": "phValue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 240,
        "wires": [
            [
                "9c9e0bef520e8ba3",
                "6355a23a8c951cdc"
            ]
        ]
    },
    {
        "id": "2f45cbb325b442bb",
        "type": "mqtt in",
        "z": "61cc7ea8e45da469",
        "name": "",
        "topic": "tdsValue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 300,
        "wires": [
            [
                "9c9e0bef520e8ba3",
                "ab5972e40af79ee9"
            ]
        ]
    },
    {
        "id": "922b1ce302ed0ad1",
        "type": "ui_gauge",
        "z": "61cc7ea8e45da469",
        "name": "",
        "group": "3125ee5a8ea0abc1",
        "order": 1,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 310,
        "y": 80,
        "wires": []
    },
    {
        "id": "6355a23a8c951cdc",
        "type": "ui_gauge",
        "z": "61cc7ea8e45da469",
        "name": "",
        "group": "3125ee5a8ea0abc1",
        "order": 2,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "PH",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 290,
        "y": 120,
        "wires": []
    },
    {
        "id": "ab5972e40af79ee9",
        "type": "ui_gauge",
        "z": "61cc7ea8e45da469",
        "name": "",
        "group": "3125ee5a8ea0abc1",
        "order": 3,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "TDS",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 290,
        "y": 160,
        "wires": []
    },
    {
        "id": "9b341e213eb402af",
        "type": "function",
        "z": "61cc7ea8e45da469",
        "name": "CheckForThreshold",
        "func": "var thresholds = {humValue: { low: 12, high: 25 },\n                  tempValue: { low: 20, high: 30 },\n                  phValue: { low: 5.5, high: 7 },\n                  tdsValue: { low: 600, high: 1600 },\n                  }\nvar currentData = msg.payload\n\nvar status = \"\"\nfor (let key in thresholds) {\n  if (currentData[key] < thresholds[key].low || thresholds[key].high < currentData[key]) {\n    status = `${status} ${key} reading is ${currentData[key]}. (range ${thresholds[key].low}-${thresholds[key].high}) \\n`\n  }\n}\n\nstatus =status +\"\\n /controls\" \nif(status!=\"\")\n{\n  msg.payload = {\n      \"api\": \"messages\",\n      \"func\": \"SendMessage\",\n      \"args\": {\n          \"peer\": \"shubham80621\",\n          \"message\": status\n      }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 240,
        "wires": [
            [
                "a35bb1433c24467d"
            ]
        ]
    },
    {
        "id": "67f2e55662ab5b5f",
        "type": "telegram client receiver",
        "z": "61cc7ea8e45da469",
        "name": "",
        "bot": "38453e9c236cb604",
        "sendrawevents": false,
        "sendnewmessage": true,
        "sendeditedmessage": false,
        "senddeletedmessage": false,
        "sendalbum": false,
        "sendcallbackquery": false,
        "x": 120,
        "y": 420,
        "wires": [
            [
                "95a1d2cb683dd3b9"
            ]
        ]
    },
    {
        "id": "e490c140eee885d3",
        "type": "function",
        "z": "61cc7ea8e45da469",
        "name": "Create Tele Commands ",
        "func": "var msg = msg\n \nmsg.payload = {\n  \"api\": \"messages\",\n  \"func\": \"SendMessage\",\n  \"args\": {\n    \"peer\": \"shubham80621\",\n    \"message\": \"Choose an option: \\n /startIrrigation \\n /stopIrrigation\"\n  }\n};\n\nreturn [msg];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 380,
        "wires": [
            [
                "a35bb1433c24467d"
            ]
        ]
    },
    {
        "id": "7e7e82b01ac283a0",
        "type": "mqtt out",
        "z": "61cc7ea8e45da469",
        "name": "",
        "topic": "/irrigate",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac6659385df72324",
        "x": 760,
        "y": 440,
        "wires": []
    },
    {
        "id": "edd94da3a2bfa9cc",
        "type": "function",
        "z": "61cc7ea8e45da469",
        "name": "HandleIrrigation",
        "func": "var msg = msg\nif (msg.payload.message.message == \"/startIrrigation\"){\n   msg.payload = \"100\" \n   return msg;\n}\nelse if (msg.payload.message.message == \"/stopIrrigation\"){\n   msg.payload = \"0\" \n   return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 440,
        "wires": [
            [
                "7e7e82b01ac283a0"
            ]
        ]
    },
    {
        "id": "95a1d2cb683dd3b9",
        "type": "switch",
        "z": "61cc7ea8e45da469",
        "name": "",
        "property": "payload.message.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/controls",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "/controls",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 420,
        "wires": [
            [
                "e490c140eee885d3"
            ],
            [
                "edd94da3a2bfa9cc"
            ]
        ]
    },
    {
        "id": "f646b735a1ce9aa8",
        "type": "mqtt in",
        "z": "61cc7ea8e45da469",
        "name": "",
        "topic": "/irrigate",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 360,
        "wires": [
            [
                "5dbff3cfcd6cb9b1"
            ]
        ]
    },
    {
        "id": "5dbff3cfcd6cb9b1",
        "type": "debug",
        "z": "61cc7ea8e45da469",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 340,
        "wires": []
    },
    {
        "id": "3125ee5a8ea0abc1",
        "type": "ui_group",
        "name": "Guages",
        "tab": "d3fb97e7a614c68d",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": true,
        "className": ""
    },
    {
        "id": "ac6659385df72324",
        "type": "mqtt-broker",
        "name": "C140",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d7add96eb24337e9",
        "type": "ui_group",
        "name": "Data Table",
        "tab": "d3fb97e7a614c68d",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "38453e9c236cb604",
        "type": "telegram client config",
        "botname": "Noderedexpbot",
        "verboselogging": false,
        "loginmode": "bot",
        "useproxy": false,
        "usewss": false,
        "host": "",
        "sockstype": "5",
        "port": "6667",
        "username": "anonymous",
        "password": "",
        "secret": "",
        "mtproxy": false,
        "timeout": "2",
        "info": "6499039108:AAGX8TObSomH6Frhw_bh3wr4kc_XrW6crPI\r\n"
    },
    {
        "id": "d3fb97e7a614c68d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]